@import "tailwindcss";

@font-face {
  font-family: 'poppins';
  src: url('./assets/font/Poppins-Regular.ttf') format('ttf');
   
  font-weight: normal;
  font-style: normal;
}

@theme {
    --color-primary: #00B207;
    --text-hf: 32px;
    --color-gry: #F2F2F2; 
    --font-poppins: font-family: "Poppins", sans-serif; 
}


/* ! checkBox k Css korar niyom */
/* 
.mylabel {
  position: relative;
}

.mylabel:after {
  width: 70px;
  height: 25px;
  border-radius: 20px;
  background: black;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transition:all linear 0.4s;
}


.mylabel:before {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgb(247, 4, 4);
  content: "";
  position: absolute;
  top: 5px;
 left: 5px;
  z-index: 2;
   transition:all linear 0.4s;
}

.myInput {
  display: none;
}

.myInput:checked + .mylabel:after {
  background: green;
}

.myInput:checked + .mylabel:before {
   left: 48px;
} */